<body>
  <div style="border-top: solid;width: 70%; display: flex; margin: auto;">

  </div>


  <div style="border-top:1cm; padding-top: 4px">
  </div>
  <div class="first">
    <p style="font-weight: bold; font-size: 20px;"> C O N T A C T</p>
    <form >
        <div style="display: flex">
          <input placeholder="Nom" style="max-width: 400px; width: 400px;">
        </div>

        <div style="display: flex">
          <input placeholder="Email" style="max-width: 400px; width: 400px;">
        </div>

        <div style="display: flex">
          <input placeholder="Téléphone" style="max-width: 400px; width: 400px;">
        </div>

        <div style="display: flex">
          <input placeholder="Commentaires" style="max-width: 400px; width: 400px; height: 10em;">
        </div>

        <div style="display: flex;  justify-content: flex-end">
          <button style="width: 80px;">
            Envoyer
         </button>
        </div>
    </form>

  </div>

  <div class="second">
    <p style="font-size: 15px;"> 16 Promenade Michel Simon</p>
    <p style="font-size: 15px;"> 93160 Noisy le grand</p>
  </div>

  <div class="second">
    <p style="font-size: 15px;"> Cel: +33 769177800</p>
    <p style="font-size: 15px;"> Email: frevirard@gmail.com</p>
  </div>

  <div class="icons">
    <img src="https://img.icons8.com/ios/50/000000/facebook--v2.png"/>
    <img src="https://img.icons8.com/ios/50/000000/instagram-new--v2.png"/>
    <img src="https://img.icons8.com/ios/50/000000/youtube-play--v1.png"/>
  </div>

</body>
