<div class="nav">
   <div class="logo-container">
       <!-- <img src="assets/logo/poussin.jpg" alt="image" class="logo"> -->
      <p routerLink="/"> Wojak city</p>

   </div>

    <a class="nav-ele"  routerLink="/register" style="text-align: right; padding-right: 0.5%;">Enregistrements </a>
    <!-- <span style="color: white;margin-top: auto; margin-bottom: auto;">|</span> -->
    <a class="nav-ele" routerLink="/base"  style="padding-left:0.5%; text-align: left;">Base</a>

    <div class="login"  class="login">
        <a>Connexion</a>
        <a>Inscription</a>
    </div>
  </div>




