body {
  margin: 0;
  padding: 0;
  height: 80vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.sav {
  position: absolute;
  -moz-box-shadow: 10px 10px 16px #000000;
  -webkit-box-shadow: 10px 10px 16px #000000;
  box-shadow: 10px 10px 16px #000000;
}
